.App{
    padding-left: 10%;
    padding-right: 10%;
}


.span {
    font-family: 'BentonModDispLt', sans-serif;
}

#customSpan2{
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    margin: 0 1rem;
    position: relative;
    border: 0.01rem solid #fff;
    outline: 0rem solid transparent;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

#customSpan2:hover{
    outline: 0.1px solid #fff;
    transition: all 0.3s ease-out;
}



#customSpan{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: 0 1rem;
    position: relative;
    border: 1px solid transparent;
}




#customSpan::before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, rgba(255,255,255,0.8), rgba(255,255,255,0), rgba(255,255,255,0),rgba(255,255,255,0), rgba(255,255,255,0.8));
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 30rem;
    padding: 1px;
    -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}




.card-border {
    position: relative;
    overflow: hidden;
}

/* Border Effect */
.card-border::before {
    content: "";
    position: absolute;
    inset: 0.1px;
    border-radius: 1rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
    padding: 0.7px;
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}
